<header class="usa-header usa-header--basic bg-primary-dark text-white">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="logo">
        <em class="usa-logo__text">
          <a href="/">
            <img src="/assets/img/Coat_of_Arms_of_Severoslavia.svg"/>
            <span>Government of<br>Severoslavia</span>
          </a>
        </em>
      </div>
      <button class="usa-menu-btn" id="menu-toggle">Menu</button>
    </div>

    <nav role="navigation" class="usa-nav" id="main-menu">
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/about">About Severoslavia</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/government">Government</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/relations">Foreign Relations</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/economy">Economy &amp; Business</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/culture">Culture &amp; Tourism</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/service">Citizen Services</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/visa">Immigration &amp; Visas</a>
        </li>
      </ul>
    </nav>

    <div class="usa-language-menu usa-menu usa-position-relative">
      <button class="usa-button" id="lang-toggle" aria-haspopup="true" aria-expanded="false" aria-controls="lang-menu">
        EN
      </button>
      <ul class="usa-nav__submenu" id="lang-menu" hidden>
        <li><a href="/" lang="en">EN</a></li>
        <li><a href="/ja" lang="ja">JA</a></li>
      </ul>
    </div>
  </div>
</header>
