<header class="usa-header usa-header--basic bg-primary-dark text-white">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="logo">
        <em class="usa-logo__text">
          <a href="/ja">
            <img src="/assets/img/Coat_of_Arms_of_Severoslavia.svg"/>
            <span>セヴェロスラヴィア<br>共和国政府</span>
          </a>
        </em>
      </div>
      <button class="usa-menu-btn" id="menu-toggle">Menu</button>
    </div>

    <nav role="navigation" class="usa-nav" id="main-menu">
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/about">セヴェロスラヴィアについて</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/government">行政・政府情報</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/relations">外交・国際関係</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/economy">経済・ビジネス</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/culture">文化・観光</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/service">国民向けサービス</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/ja/visa">移住・ビザ情報</a>
        </li>
      </ul>
    </nav>

    <div class="usa-language-menu usa-menu usa-position-relative">
      <button class="usa-button" id="lang-toggle" aria-haspopup="true" aria-expanded="false" aria-controls="lang-menu">
        JA
      </button>
      <ul class="usa-nav__submenu" id="lang-menu" hidden>
        <li><a href="/" lang="ru">RU</a></li>
        <li><a href="/ja" lang="ja">JA</a></li>
      </ul>
    </div>
  </div>
</header>
